# Use the following when testing the cached HTML wiki in /data with a Docker-based web server
# MEDIAWIKI_API_ROOT=http://webserver:3000

MEDIAWIKI_API_ROOT=https://genshin-impact.fandom.com/api.php
MEDIAWIKI_PAGE_NAME=Hilichurlian/Lexicon
