node_modules/
__tests__/
examples/
.github/
.git/
.env
.vscode
*.json
*.zip
*.rar
*.tgz
*.yml
*.md
.dockerignore
eslint.config.mjs
jest.config.js
.env.example
Dockerfile
data/hilichurlian_lexicon.txt
!data/hilichurlianDB.json
