node_modules/
__tests__/
.github/
.git/
.env
.vscode
*.json
*.zip
*.rar
*.tgz
*.yml
*.md
.dockerignore
.eslintrc.js
jest.config.js
.env.example
Dockerfile
data/hilichurlian_lexicon.html
!data/hilichurlianDB.json
